<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ personne.title }} !
  </h1>
</div>
<h2>Details sur les scientifiques : </h2>

<ol>
  <li *ngFor="let p of liste">{{p.nom}}{{p.prenom}}</li>
</ol>
<ul>
  <li><strong>Nom :</strong> {{ personne.nom }}</li>
  <li>Prenom : {{ personne.prenom }}</li>
  <li>Description : {{ personne.description }}</li>
  <li>Travail : {{ personne.travail }}</li>
</ul>


<h4>Modification</h4>

<ul>
<!-- modifie que sur la page -->
<li>Nom : <input [(ngModel)]="personne.nom"/></li><br>
<li>Prenom :<input [(ngModel)]="personne.prenom"/></li><br>
<li>Description : <textarea [(ngModel)]="personne.description"></textarea></li><br>
<li>Travail : <input [(ngModel)]="personne.travail"/></li><br>

</ul>

<input type="checkbox" [(ngModel)]="salut" />
