<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ personne.title }}
  </h1>
</div>

<detail></detail>

<ol>
  <li [class.selected]="p==personne" (click)="clickPersonne(p)" *ngFor="let p of liste"> {{p.prenom}} {{p.nom }} </li>
</ol>


<h2 style="text-align: center">Detail sur {{personne.nom }} {{personne.prenom}} </h2>


<h3>Identité : </h3>

<ol>
  <li><strong>Nom : </strong>{{personne.nom}}</li>
  <li><strong>Prenom : </strong>{{personne.prenom}}</li>
</ol>

<h3>Découvertes :</h3>
<ol>
  <li><strong>Découverte : </strong>{{personne.travail}}</li>
  <li><strong>Description : </strong>{{personne.description}}</li>
</ol>


<h3>Modification</h3>

<h4 *ngIf="!personne.nom">Attention nom non definie</h4>
<h4 *ngIf="!personne.prenom">Attention prenom non definie</h4>
<h4 *ngIf="!personne.description">Attention description non definie</h4>
<h4 *ngIf="!personne.travail">Attention decouverte non definie</h4>

<ul>
<!-- modifie que sur la page -->
<li>Nom : <input [(ngModel)]="personne.nom"/></li><br>
<li>Prenom :<input [(ngModel)]="personne.prenom"/></li><br>
<li>Description : <textarea [(ngModel)]="personne.description"></textarea></li><br>
<li>Travail : <input [(ngModel)]="personne.travail"/></li><br>

</ul>

